* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}
.container {
  width: 1000px;
  height: 700px;
  position: relative;
  border: 2px solid gray;
  cursor: crosshair;
  margin: 0 auto;
  margin-top: 40px;
  background-image: url(..//images/balloon.jpg);
  background-size: cover;
}
.containerGame {
  background-image: url(..//images/clouds.jpg);
}
.highscoreScreen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
.highScoreLists {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid white;
}
.highscoreItems {
  font-size: 30px;
  margin: 5px;
}
#inputName {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 30px;
  text-align: center;
}
.input {
  position: relative;
}
.saveResult {
  margin-left: 30px;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  bottom: 0;
}
#tip {
  position: absolute;
  color: red;
  font-size: 14px;
  top: 20px;
  left: 20px;
}
#highscoreNames {
  display: inline-block;
  width: 240px;
}
#highscoreResults {
  display: inline-block;
}

#result {
  font-size: 100px;
  color: white;
}

.menuContainer {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  position: absolute;
  text-align: center;
}
.menuText {
  margin: 20px 0;
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
  color: white;
  cursor: pointer;
}
#gameTitle {
  cursor: auto;
  font-size: 100px;
}
.ball {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  top: -200px;
  left: -200px;
  background-color: red;
  position: absolute;
  opacity: 0.8;
  transform: translate(-50%, -50%);
}
.timer {
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 72px;
  border: 2px solid black;
}
.timer span {
  color: red;
}
.counter {
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  border: 2px solid black;
}
.counter span {
  color: red;
}
#loaderNumber {
  font-family: sans-serif;
  position: absolute;
  color: red;
  font-size: 50px;
  left: 50%;
  top: 370px;
  transform: translateX(-50%);
}
#gameOver {
  left: 100px;
  top: 150px;
}
.gameOverText {
  font-size: 80px;
  font-family: 'Amatic SC', cursive;
  position: absolute;
  color: white;
}
.back {
  position: absolute;
  left: 10%;
  bottom: 10%;
}
.top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.gameOverBtns{
  display: none;
}
.panelInfo{
  display: none;
}
.again {
  left: 100px;
  top: 471px;
  cursor: pointer;
}
.exit {
  left: 500px;
  top: 471px;
  cursor: pointer;
}
.spinnerContainer {
  display: none;
}
.spinner {
  margin: 250px auto;
  width: 300px;
  height: 300px;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}
.hide {
  display: none;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
.animation-1-top {
  animation: move1Top 10s 1 linear forwards;
}
.animation-2-top {
  animation: move2Top 4s 1 linear forwards;
}
.animation-3-top {
  animation: move3Top 8s 1 linear forwards;
}
.animation-4-top {
  animation: move1Top 2s 1 linear forwards;
}

.animation-1-right {
  animation: move1Right 10s 1 linear forwards;
}
.animation-2-right {
  animation: move2Right 4s 1 linear forwards;
}
.animation-3-right {
  animation: move3Right 8s 1 linear forwards;
}
.animation-4-right {
  animation: move1Right 2s 1 linear forwards;
}

.animation-1-bottom {
  animation: move1Bottom 10s 1 linear forwards;
}
.animation-2-bottom {
  animation: move2Bottom 4s 1 linear forwards;
}
.animation-3-bottom {
  animation: move3Bottom 8s 1 linear forwards;
}
.animation-4-bottom {
  animation: move1Bottom 2s 1 linear forwards;
}

.animation-1-left {
  animation: move1Left 10s 1 linear forwards;
}
.animation-2-left {
  animation: move2Left 4s 1 linear forwards;
}
.animation-3-left {
  animation: move3Left 8s 1 linear forwards;
}
.animation-4-left {
  animation: move1Left 2s 1 linear forwards;
}

@keyframes move1Top {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 1000px);
  }
}
@keyframes move2Top {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200px, 1000px);
  }
}
@keyframes move3Top {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(150px, 1000px);
  }
}

@keyframes move1Right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1300px, 100px);
  }
}
@keyframes move2Right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1300px, -200px);
  }
}
@keyframes move3Right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1300px, 150px);
  }
}

@keyframes move1Bottom {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100px, -1000px);
  }
}
@keyframes move2Bottom {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200px, -1000px);
  }
}
@keyframes move3Bottom {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-150px, -1000px);
  }
}

@keyframes move1Left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1300px, 100px);
  }
}
@keyframes move2Left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1300px, -200px);
  }
}
@keyframes move3Left {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1300px, -150px);
  }
}

@media screen and (max-width: 1000px){
  .container {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    border: 0;
  }
  .timer {
    top: 90vh;
  }
  .counter {
    top: 90vh;
  }
  h1 {
    font-size: 80px;
    text-align: center;
    top: 20%;
    left: 0;
    display: inline-block;
    width: 100%;
  }
  .menuContainer {
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .back {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .saveResult {
    margin-top: -5px;
    position: static;
    float: left;
  }
  .input {
    margin-top: 10px;
  }
  #tip {
    left: 0;
    top: 0;
  }
  #inputName {
    float: left;
  }
  #start {
    font-size: 60px;
  }
  #highscore {
    font-size: 60px;
  }
  .highScoreLists {
    width: 240px;
  }
  #highscoreNames{
    width: 150px;
  }
  .highscoreItems {
    font-size: 20px;
  }
  #gameOver {
    margin: 0 auto;
    top: 10%;
    font-size: 50px;
  }
  #result {
    font-size: 50px;
  }
  .spinner {
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
  }
  #loaderNumber {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    line-height: 100vh;
  }
  .again {
    left: 20%;
    top: 70vh;
    font-size: 50px;
  }
  .exit {
    left: 60%;
    top: 70vh;
    font-size: 50px;
  }
}
@media screen and (max-width: 1000px) and (orientation:portrait) {
  #gameOver {
    text-align: center;
    width: 240px;
    left: 50%;
    transform: translateX(-50%);
  }
  .input {
    text-align: center;
    margin-top: 40px;
  }
  #tip {
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
  }
  #inputName {
    float: none;
  }
  .saveResult {
    margin: 5px 0;
    float: none;
  }
  .again {
    left: 50%;
    transform: translateX(-50%);
    top: 81vh;
  }
  .exit {
    left: 50%;
    transform: translateX(-50%);
    top: 69vh;
  }
}
@media screen and (max-width: 1000px) and (orientation:landscape) {
  .menuText {
    margin: 10px 0;
  }
  .back {
    transform: translate(0, 0);
    bottom: 0;
    left: 5%;
  }
  .top {
    transform: translate(0, 0);
    top: 0;
    left: 5%;
  }
  .highScoreLists {
    left: 60%;
  }
}

.show {
  display: block;
}
